#define MANIFEST 24
#define IDD_DLG1 6000
#define IDC_ADDURL_GBX 6002
#define IDC_RBN1 6005
#define IDC_RBN2 6006
#define IDC_EDT1 6007
#define IDC_STC1 6008
#define IDC_EDT2 6009
#define IDC_STC2 6010
#define IDC_IMG1 6011
#define IDC_CBO1 6012
#define IDC_BTN3 6013
#define IDC_GRP3 6014
#define IDC_TRV1 6001
#define IDC_CATEGORY_GBX 6015
#define IDC_BTN2 6017
#define IDC_ADDCAT_STATIC 6018
#define IDC_EDT3 6019
#define IDD_DLG2 10000
#define IDC_TRV_SETTINGS 10001
#define IDD_DLG2_GENERAL 10100
#define IDC_GENERAL_GENERAL_GBX 10011
#define IDC_GENERAL_AUTOSTART_CHK 10012
#define IDC_GENERAL_DRAGDROPGBX 10015
#define IDC_GENERAL_PLAYFILEDROP_CHK 10016
#define IDC_GENERAL_ADDFILEDROP_CHK 10017
#define IDC_GENERAL_SAVEWINDOWPOS_CHK 10101
#define IDC_LNG_GBX 10102
#define IDC_LANG_CBX 10103
#define IDC_GENERAL_MAKEMOVABLE_CHK 10104
#define IDC_GRP1 10118
#define IDC_GENERAL_PLAYCHIPTUNES_CHK 10119
#define IDD_DLG2_HOTKEYS 10200
#define IDC_HKEYS_GBX 10201
#define IDC_PLAYPAUSE_HEKY_STATIC 10202
#define IDC_NEXT_HKEY_STATIC 10203
#define IDC_PREV_HKEY_STATIC 10204
#define IDC_PLAYLIST_HKEY_STATIC 10205
#define IDC_MMKEYS_HKEY_CHK 10206
#define IDC_HKEYS_HKEYS_CHK 10207
#define IDC_PLAYPAUSE_HKEY_CBX 10208
#define IDC_NEXT_HKEY_CBX 10209
#define IDC_PREV_HKEY_CBX 10210
#define IDC_HKEY_PLAYLIST_CBX 10211
#define IDC_SHUFFLE_PLAYLIST_STATIC 10212
#define IDC_REPEAT_HKEYS_STATIC 10213
#define IDC_HKEY_SHUFFLE_CBX 10218
#define IDC_HKEY_REPEAT_CBX 10219
#define IDC_STC4 10214
#define IDC_STC5 10215
#define IDC_STC6 10216
#define IDC_GENERAL_PLAY_CTRL_CHK 10217
#define IDC_GENERAL_NEXT_CTRL_CHK 10220
#define IDC_GENERAL_PREV_CTRL_CHK 10221
#define IDC_GENERAL_PL_CTRL_CHK 10222
#define IDC_GENERAL_SHUF_CTRL_CHK 10223
#define IDC_GENERAL_REP_CTRL_CHK 10224
#define IDC_GENERAL_REP_ALT_CHK 10225
#define IDC_GENERAL_SHUF_ALT_CHK 10226
#define IDC_GENERAL_PL_ALT_CHK 10227
#define IDC_GENERAL_PREV_ALT_CHK 10228
#define IDC_GENERAL_NEXT_ALT_CHK 10229
#define IDC_GENERAL_PLAY_ALT_CHK 10230
#define IDC_GENERAL_REP_SHIFT_CHK 10231
#define IDC_GENERAL_SHUF_SHIFT_CHK 10232
#define IDC_GENERAL_PL_SHIFT_CHK 10233
#define IDC_GENERAL_PREV_SHIFT_CHK 10234
#define IDC_GENERAL_NEXT_SHIFT_CHK 10235
#define IDC_GENERAL_PLAY_SHIFT_CHK 10236
#define IDD_DLG2_BASSAUDIO 10300
#define IDC_BASS_TECH_GBX 10301
#define IDC_BASS_32BIT_CHK 10302
#define IDC_BASS_MONO_CHK 10303
#define IDC_BASS_HWACCEL_CHK 10304
#define IDC_BASS_SPEAKERS_GBX 10305
#define IDC_STC18 10306
#define IDC_SPEAKERS_CBX 10307

1 ICON DISCARDABLE "graphics/app.ico"
50 ICON DISCARDABLE "graphics/media-playback-pause.ico"
60 ICON DISCARDABLE "graphics/media-playback-start.ico"
70 ICON DISCARDABLE "graphics/media-playback-stop.ico"
100 ICON DISCARDABLE "graphics/media-skip-backward.ico"
110 ICON DISCARDABLE "graphics/media-skip-forward.ico"
120 ICON DISCARDABLE "graphics/media-playlist.ico"
130 ICON DISCARDABLE "graphics/media-playlist-repeat.ico"
140 ICON DISCARDABLE "graphics/media-playlist-shuffle.ico"
150 ICON DISCARDABLE "graphics/add.ico"
155 ICON DISCARDABLE "graphics/pinn.ico"
200 ICON DISCARDABLE "graphics/tnaicn.ico"
210 ICON DISCARDABLE "graphics/media_FAdd.ico"
211 ICON DISCARDABLE "graphics/media_add.ico"
212 ICON DISCARDABLE "graphics/media_Clear.ico"
213 ICON DISCARDABLE "graphics/media_del.ico"
214 ICON DISCARDABLE "graphics/search-artist.ico"
400 RCDATA DISCARDABLE "graphics/default_album.png"
401 RCDATA DISCARDABLE "graphics/oldRadio.png"

IDR_VERSION VERSIONINFO
FILEVERSION 0,4,0,0
PRODUCTVERSION 0,4,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileVersion", "0.4.0.0\0"
      VALUE "ProductVersion", "0.4.0.0\0"
      VALUE "CompanyName", "Daniel Gilbert\0"
      VALUE "FileDescription", "SmallTune\0"
      VALUE "InternalName", "smalltune\0"
      VALUE "LegalCopyright", "Daniel Gilbert\0"
      VALUE "OriginalFilename", "smalltune.exe\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

1 MANIFEST "manifest/manifest.xml"

IDD_DLG1 DIALOGEX -2,-13,436,226
CAPTION "Add URL..."
FONT 8,"MS Sans Serif",0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "Add URL",IDC_ADDURL_GBX,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,204,3,228,132
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,375,207,54,15
  CONTROL "Ok",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,372,117,54,15
  CONTROL "add to database",IDC_RBN1,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,210,123,102,9
  CONTROL "play only",IDC_RBN2,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,210,108,102,10
  CONTROL "",IDC_EDT1,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,210,85,216,14,WS_EX_CLIENTEDGE
  CONTROL "IDC_STC",IDC_STC1,"Static",WS_CHILD|WS_VISIBLE,210,73,75,9
  CONTROL "",IDC_EDT2,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,210,51,216,14,WS_EX_CLIENTEDGE
  CONTROL "IDC_STC",IDC_STC2,"Static",WS_CHILD|WS_VISIBLE,210,40,75,9
  CONTROL "#1",IDC_IMG1,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,384,13,42,33
  CONTROL "",IDC_CBO1,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,210,15,120,45
  CONTROL "Delete Selected",IDC_BTN3,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,9,186,92,15
  CONTROL "Stations",IDC_GRP3,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,3,3,198,219
  CONTROL "",IDC_TRV1,"SysTreeView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|TVS_SHOWSELALWAYS|TVS_LINESATROOT|TVS_HASLINES|TVS_HASBUTTONS,9,12,186,165,WS_EX_CLIENTEDGE
  CONTROL "Add Category",IDC_CATEGORY_GBX,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,204,138,228,66
  CONTROL "Add",IDC_BTN2,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,210,183,105,15
  CONTROL "IDC_STC",IDC_ADDCAT_STATIC,"Static",WS_CHILD|WS_VISIBLE,210,153,75,9
  CONTROL "",IDC_EDT3,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,210,165,213,14,WS_EX_CLIENTEDGE
END

IDD_DLG2 DIALOGEX 10,10,364,238
CAPTION "Settings"
FONT 8,"MS Sans Serif",0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "",IDC_TRV_SETTINGS,"SysTreeView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|TVS_SHOWSELALWAYS|TVS_LINESATROOT|TVS_HASLINES|TVS_HASBUTTONS,3,3,114,234,WS_EX_CLIENTEDGE
  CONTROL "Beenden",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,282,222,78,15
END

IDD_DLG2_GENERAL DIALOGEX 10,10,240,210
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|DS_CONTROL
BEGIN
  CONTROL "General",IDC_GENERAL_GENERAL_GBX,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,6,42,231,54
  CONTROL "Start with Windows",IDC_GENERAL_AUTOSTART_CHK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,54,216,9
  CONTROL "Drag'n'Drop",IDC_GENERAL_DRAGDROPGBX,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,6,99,231,42
  CONTROL "Play File after being dropped",IDC_GENERAL_PLAYFILEDROP_CHK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,114,216,9
  CONTROL "Add File to playlist",IDC_GENERAL_ADDFILEDROP_CHK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,126,216,9
  CONTROL "Save Window Position",IDC_GENERAL_SAVEWINDOWPOS_CHK,"Button",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTOCHECKBOX,24,79,204,9
  CONTROL "Language",IDC_LNG_GBX,"Button",WS_CHILD|WS_VISIBLE|WS_CLIPCHILDREN|BS_GROUPBOX,6,3,231,36
  CONTROL "",IDC_LANG_CBX,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,12,15,216,51
  CONTROL "Make application window movable",IDC_GENERAL_MAKEMOVABLE_CHK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,66,216,9
  CONTROL "Other",IDC_GRP1,"Button",NOT WS_VISIBLE|WS_CHILD|BS_GROUPBOX,6,144,231,30
  CONTROL "Play Chiptunes (*.mod;*.xm;*.s3m;*.it ...)",IDC_GENERAL_PLAYCHIPTUNES_CHK,"Button",NOT WS_VISIBLE|WS_CHILD|WS_TABSTOP|BS_AUTOCHECKBOX,12,156,171,10
END

IDD_DLG2_BASSAUDIO DIALOGEX 10,10,240,210
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|DS_CONTROL
BEGIN
  CONTROL "Technical",IDC_BASS_TECH_GBX,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,6,3,232,51
  CONTROL "Use 32bit Floating Data",IDC_BASS_32BIT_CHK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,15,209,9
  CONTROL "Play as Mono",IDC_BASS_MONO_CHK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,27,210,9
  CONTROL "Don't use Hardware Acceleration",IDC_BASS_HWACCEL_CHK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,39,210,9
  CONTROL "Speakers",IDC_BASS_SPEAKERS_GBX,"Button",NOT WS_VISIBLE|WS_CHILD|BS_GROUPBOX,6,57,230,42
  CONTROL "Please select:",IDC_STC18,"Static",NOT WS_VISIBLE|WS_CHILD,18,69,54,9
  CONTROL "",IDC_SPEAKERS_CBX,"ComboBox",NOT WS_VISIBLE|WS_CHILD|WS_TABSTOP|CBS_DROPDOWNLIST,18,78,207,51
END

